.jumbotron {
  background-color: #491fc8;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}


.brand-icon {
    font-size: 100px;
}
.css1{
size: 250px;
height: 30px;
border-radius: 10px;
outline: none;
text-align: center;
font-family: 'Courier New', Courier, monospace;
margin: 10px;
}
.css2{
size: 200px;
height: 25px;
border-radius: 10px;
outline: none;
text-align: center;
}